# Sorting and Grouping

## 2356. Number of Unique Subjects Taught by Each Teacher

In [ ]:
SELECT teacher_id, count(distinct(subject_id)) as cnt
FROM teacher
group by teacher_id;

## 1141. User Activity for the Past 30 Days I

In [ ]:
SELECT activity_date as day, count(DISTINCT user_id) as active_users
FROM Activity
WHERE activity_date between '2019-06-28' and '2019-07-27'
GROUP BY activity_date;

## 1070. Product Sales Analysis III

In [ ]:
WITH Product_year AS(
    SELECT product_id, MIN(year) as year
    FROM Sales
    GROUP BY product_id
)

SELECT s.product_id, f.year as first_year, s.quantity, s.price
FROM Sales as s
INNER JOIN Product_year as f
USING (product_id, year)

## 596. Classes More Than 5 Students

In [ ]:
SELECT class
FROM Courses
GROUP BY class
Having count(distinct student) >= 5;

## 1729. Find Followers Count

In [ ]:
SELECT user_id, count(distinct follower_id) as followers_count 
FROM Followers
GROUP BY user_id
ORDER BY user_id;

## 619. Biggest Single Number

In [ ]:
WITH singleNumber AS(
    SELECT num, count(num) as numcount
    FROM MyNumbers
    GROUP BY num
    HAVING COUNT(num) = 1
)

SELECT max(num) as num
FROM singleNumber

## 1045. Customers Who Bought All Products

In [ ]:
SELECT customer_id
FROM Customer
GROUP BY 1
HAVING COUNT(DISTINCT product_key) = (SELECT COUNT(1) FROM Product);